.text-xl {
  font-size: 40px;
}

.text-lg {
  font-size: 30px;
}

.text-md {
  font-size: 20px;
}

.text-sm {
  font-size: 16px;
}

.text-xs {
  font-size: 12px;
}

.p-10 {
  padding: 10px;
}

.mr-10 {
  margin-right: 10px;
}

.line-40 {
  line-height: 40px;
}
